@import url("/home/virgil/.config/waybar/colors.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.empty {
    background-color: transparent;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    min-width: 20px;
}

#workspaces button.active label {
    border-bottom: 2px solid white;
}


#workspaces button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#workspaces button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#workspaces button:nth-child(1) {
  background-color: @shade1;
}

#workspaces button:nth-child(2)  {
  background-color: @shade2;
}

#workspaces button:nth-child(3)  {
  background-color: @shade3;
}

#workspaces button:nth-child(4)  {
  background-color: @shade4;
}

#workspaces button:nth-child(5)  {
  background-color: @shade5;
}

#workspaces button:nth-child(6)  {
  background-color: @shade6;
}

#workspaces button:nth-child(7)  {
  background-color: @shade7;
}

#workspaces button:nth-child(8)  {
  background-color: @shade8;
}

#workspaces button:nth-child(9)  {
  background-color: @shade9;
}

#workspaces button:nth-child(10)  {
  background-color: @shade10;
}

#workspaces button:hover {
    background: @selected;
}

#clock,
#battery,
#network,
#pulseaudio,
#custom-media,
#idle_inhibitor {
    padding: 0 10px;
    color: #ffffff;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @shade1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#idle_inhibitor {
    background-color: @shade2;
}

#custom-pacman
{
    background-color: @shade3;
    min-width: 40px;
    color: #ffffff;
}

#network {
    background-color: @shade4;
}

#bluetooth {
    background-color: @shade5;
    min-width: 20px;
    color: #ffffff;
}

#bluetooth.connected {
    color: #00bbff;
}

#battery {
    background-color: @shade6;
}

#pulseaudio {
    background-color: @shade7;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}

#custom-media {
    background-color: @shade6;
    min-width: 100px;
    border-radius: 10px;
}
